<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>SimpleRequestHandler</servlet-name>
    <servlet-class>idv.jackblackevo.SimpleRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreflightedRequestHandler</servlet-name>
    <servlet-class>idv.jackblackevo.PreflightedRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CredentialedRequestHandler</servlet-name>
    <servlet-class>idv.jackblackevo.CredentialedRequestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SimpleRequestHandler</servlet-name>
    <url-pattern>/SimpleRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreflightedRequestHandler</servlet-name>
    <url-pattern>/PreflightedRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CredentialedRequestHandler</servlet-name>
    <url-pattern>/CredentialedRequestHandler</url-pattern>
  </servlet-mapping>
</web-app>
